/* Add here all your CSS customizations */
/* Style 8 */
.testimonial.testimonial-style-8 {
	text-align: center;
}

.testimonial.testimonial-style-8 blockquote {
	background: transparent !important;
	border-radius: 4px;
	padding: 22px 20px;
}

.testimonial.testimonial-style-8 blockquote:before, .testimonial.testimonial-style-8 blockquote:after {
	display: none;
}

.testimonial.testimonial-style-8 blockquote p {
	color: #777;
    font-family: "Open Sans", Arial, sans-serif;
}

.testimonial.testimonial-style-8 .testimonial-arrow-down {
	display: none;
}

.testimonial.testimonial-style-8 .testimonial-author {
	padding: 0;
	margin: 6px 0 0;
	flex-direction: column;
}

.testimonial.testimonial-style-8 .testimonial-author img {
	margin: 0 auto 15px;
	max-width: 60px;
	max-height: 60px;
}

.testimonial.testimonial-style-8 .testimonial-author p {
	text-align: center;
	padding: 0;
	margin: 0;
}
